* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

.main, .pickup_sushi {
    background-color: rgb(2, 3, 3);
}

.header .container, .sushi_items {
    font-size: 0;
}

.header {
    padding: 30px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    margin-right: 282px;
    vertical-align: middle;
    cursor: pointer;
}

.menu {
    display: inline-block;
    vertical-align: middle;
}

.menu a {
    margin-right: 60px;
    cursor: pointer;
}

.menu a:nth-child(3) {
    margin-right: 54px;
}

.menu a:hover {
    border-bottom: 2px solid rgb(255, 175, 24);
    font-size: 16px;
    color: rgb(255, 175, 24);
    line-height: 1.2;
}

.menu_item {
    text-decoration: none;
    font-size: 16px;
    color: rgb(253, 239, 213);
    line-height: 1.2;
}

.main_info .container {
    padding-top: 133px;
    padding-bottom: 30px;
}

.main_info_description {
    display: inline-block;
    max-width: 564px;
}

.main_info h1 {
    font-size: 45px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.222;
}

.main_info_image {
    display: inline-block;
    margin-left: 17px;
    vertical-align: -55px;
}

.main_info_features {
    display: inline-block;
    margin: 74px 0 92px 0;
}

.main_info_feature {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    color: rgb(255, 255, 255);
    line-height: 1.5;
}

.main_info_feature span, .main_info_feature img {
    display: inline-block;
    vertical-align: middle;
}

#tuna_img {
    margin-right: 11px;
}

#sushi_img {
    margin: 0 11px 0 100px;
}

.button {
    display: inline-block;
    padding: 22px 54px;
    background-color: rgb(255, 175, 24);
    border-radius: 30px;
    text-align: center;
    font-size: 16px;
    color: rgb(2, 3, 3);
    font-weight: bold;
    text-decoration: none;
}

.button_order{
    border-radius: 25px;
    padding: 17px 82px 18px 81px;
    margin: 15px 0 15px 0;
}

.button:hover {
    box-shadow: 0 3px 15px rgb(255, 167, 0);
}

.pickup_sushi .container {
    padding: 120px 0;
}

.pickup_sushi h2 {
    text-align: center;
    font-size: 35px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.571;
}

.sushi_items {
    padding-top: 60px;
}

.sushi_item {
    background-color: rgb(255, 255, 255);
    display: inline-block;
    text-align: center;
    max-width: 282px;
    box-sizing: border-box;
    margin-right: 24px;
}

.sushi_items div:nth-child(4n) {
    margin-right: 0;
}

.sushi_items div:nth-last-child(-n+3) {
    margin-top: 24px;
}
.sushi_item img {
    padding: 10px 41px 30px 41px;
}

.sushi_name {
    font-size: 18px;
    color: rgb(24, 26, 26);
    font-weight: bold;
    margin-bottom: 15px;
}

.sushi_description {
    display: inline-block;
    max-width: 228px;
    font-size: 14px;
    color: rgb(24, 26, 26);
    line-height: 1.286;
}

.sushi_item_first_last{
    border: 5px solid rgb(255, 175, 24);
}


